.imageCards {
    width:200px;
    height: 350px;
    border-radius: 4px;
    /* border: 0.5px solid black; */
    margin-right: 30px; 
   
}

.imageCardsContainer {
    height: 500px;
    /* border: 1px solid black; */
    width:200px;
    margin-right: 30px; 
    border-radius: 4px;
    margin-top: 30px;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
}

.cardstyles {
    display: inline-flex;
    margin-right: 30px;
}

